<aside class="alberora_stat_dashboard_form">
    {{ form.form_build_id }}
    {{ form.form_token }}
    {{ form.form_id }}

    <div class="table">
        <table>
            <tr>
                <td>{{ form.actions }}</td>
            </tr>
        </table>
    </div>
</aside>